* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5FE474;
}


.button {
  all: unset;
  align-items: flex-start;
  background-color: #5FE474;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 10px;
  overflow: hidden;
  padding: 19px 32px;
  position: relative;
}

.div {
  background-color: #5FE474;
}
